.MemoryCard {
    display: inline-block;
    width: 150px;
    height: 80px;
    margin: 3px;
    border-radius: 5px;
    border-width: 3px;
    border-color: #193D49;
    cursor: pointer;
    background: repeating-radial-gradient(
        circle,rgba(0, 0, 0, 0.2), 
        rgba(0, 0, 0, 0.5) 10px, 
        rgba(0, 0, 0, 0.3) 10px, 
        rgba(0, 0, 0, 0.3) 20px
    ), url(./card-bg.jpg);
}

